<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.chengxusheji.mapper.CropMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加农作物记录 -->
	<insert id="addCrop" parameterType="crop">
		insert into t_crop(cropClassObj,cropName,cropPhoto,cropDesc,cropMemo,addTime) values 
		(#{cropClassObj.cropClassId},#{cropName},#{cropPhoto},#{cropDesc},#{cropMemo},#{addTime})
	</insert>

	<!-- 按照查询条件分页查询农作物记录 -->
	<select id="queryCrop" resultMap="cropMap" >
		select t_crop.* from t_crop,t_cropClass ${where} and t_crop.cropClassObj = t_cropClass.cropClassId limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="cropMap" type="crop">
        <id property="cropId" column="cropId" />
        <association property="cropClassObj" column="cropClassObj" select="com.chengxusheji.mapper.CropClassMapper.getCropClass" />
    </resultMap>

    <!-- 按照查询条件查询所有农作物记录 -->
	<select id="queryCropList" resultMap="cropMap" >
		select t_crop.* from t_crop,t_cropClass ${where} and t_crop.cropClassObj = t_cropClass.cropClassId
	</select>

    <!-- 按照查询条件的农作物记录数 -->
	<select id="queryCropCount" resultType="int">
		select count(*) from t_crop,t_cropClass ${where} and t_crop.cropClassObj = t_cropClass.cropClassId
	</select>

	<!-- 根据主键查询某个农作物记录 -->
	<select id="getCrop" parameterType="int" resultMap="cropMap">
		select * from t_crop where t_crop.cropId = #{cropId}
	</select>

	<!-- 更新农作物记录 -->
	<update id="updateCrop" parameterType="crop">
		update t_crop set cropClassObj=#{cropClassObj.cropClassId},cropName=#{cropName},cropPhoto=#{cropPhoto},cropDesc=#{cropDesc},cropMemo=#{cropMemo},addTime=#{addTime} where cropId = #{cropId}
	</update>

	<!-- 删除农作物记录 -->
	<delete id="deleteCrop" parameterType="int">
		delete from t_crop where cropId=#{cropId}
	</delete>

</mapper>
