<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.chengxusheji.mapper.DiseaseMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加病害记录 -->
	<insert id="addDisease" parameterType="disease">
		insert into t_disease(cropObj,diseaseName,diseasePhoto,diseaseDesc,cureDesc,addTime) values 
		(#{cropObj.cropId},#{diseaseName},#{diseasePhoto},#{diseaseDesc},#{cureDesc},#{addTime})
	</insert>

	<!-- 按照查询条件分页查询病害记录 -->
	<select id="queryDisease" resultMap="diseaseMap" >
		select t_disease.* from t_disease,t_crop ${where} and t_disease.cropObj = t_crop.cropId limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="diseaseMap" type="disease">
        <id property="diseaseId" column="diseaseId" />
        <association property="cropObj" column="cropObj" select="com.chengxusheji.mapper.CropMapper.getCrop" />
    </resultMap>

    <!-- 按照查询条件查询所有病害记录 -->
	<select id="queryDiseaseList" resultMap="diseaseMap" >
		select t_disease.* from t_disease,t_crop ${where} and t_disease.cropObj = t_crop.cropId
	</select>

    <!-- 按照查询条件的病害记录数 -->
	<select id="queryDiseaseCount" resultType="int">
		select count(*) from t_disease,t_crop ${where} and t_disease.cropObj = t_crop.cropId
	</select>

	<!-- 根据主键查询某个病害记录 -->
	<select id="getDisease" parameterType="int" resultMap="diseaseMap">
		select * from t_disease where t_disease.diseaseId = #{diseaseId}
	</select>

	<!-- 更新病害记录 -->
	<update id="updateDisease" parameterType="disease">
		update t_disease set cropObj=#{cropObj.cropId},diseaseName=#{diseaseName},diseasePhoto=#{diseasePhoto},diseaseDesc=#{diseaseDesc},cureDesc=#{cureDesc},addTime=#{addTime} where diseaseId = #{diseaseId}
	</update>

	<!-- 删除病害记录 -->
	<delete id="deleteDisease" parameterType="int">
		delete from t_disease where diseaseId=#{diseaseId}
	</delete>

</mapper>
